.carrossel, .carrossel2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: var(--cor-borda) .5rem double;
    border-radius: 1rem;
}

.carrossel .prev, .carrossel  .next, .carrossel2 .prev, .carrossel2 .next{
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    z-index: 1;
    font-size: 2rem;
}

.carrossel2 .prev, .carrossel2 .next{
    top: 120%;
}

.prev{
    left: 20%;
}

.next{
    right: 20%;
}

.next:hover, .prev:hover{
    background-color: rgba(0, 0, 0, .8);
}

.produtos{
    display: flex;
    align-items: center;
    max-width: 300px;
    transition: transform .5s;
}

.carrossel .pelucias{
    max-width: 250px;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
    height: 580px;
    gap: .5rem;
    background: var(--cor-fundo-caixa) no-repeat;
}

.carrossel .pelucia{
    height: 340px;
}

.produto .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.produto .imagem img{
    width: 200px;
    border-radius: 1rem;
    transition: transform .3s ease-in-out;
}
.produto .imagem img:hover{
    transform: scale(1.1);
}

.tamanhos, .cores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
}

.tamanhos li, .cores li{
    background: #fff;
    padding: .2rem .5rem;
    border-radius: .5rem;
    border: var(--cor-texto) .2rem solid;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.tamanhos li:hover, .cores li:hover{
    transform: scale(1.1);
}

.tamanhos li:active, .cores li:active{
    background: rgb(164, 177, 177);
}
.produto .preco{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: .5rem;
}
.preco #adicionar-carrinho{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    transition: .3s ease-in-out;
}

.preco #adicionar-carrinho:hover{
    transform: scale(1.1);
}


