@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --cor-fundo: #fff8f8;
    --cor-fundo-rodape: #ebb9ff;
    --cor-fundo-caixa:linear-gradient(90deg, rgba(254,152,196,1) 0%, rgba(255,179,212,1) 71%);
    
    --cor-texto: #272626;
    --cor-borda: #ffe77d;
    --cor-botao: #ffe77d;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding: 1rem;
}

.cabecalho .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
    text-shadow: -3px 1px 3px rgba(0, 0, 0, 0.322);
    padding-bottom: 1rem;
}

.cabecalho .menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    color: var(--cor-texto);
    font-size: 1.1rem;
    width: 100%;
}

.cabecalho .menu #abrir-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--cor-botao);
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    position: relative;
    top: 0;
    z-index: 3;
    width: 56px;
    height: 56px;
}

.cabecalho .menu #lista-menu{
    display: none;
    padding: 1.2rem;
    position: absolute;
    top: 14%;
    background: var(--cor-fundo-caixa) no-repeat;
    border-radius: 1rem;
    border: var(--cor-borda) double .5rem;
    z-index: 2;
    font-weight: 600;
    font-size: 1.3rem;
}

.cabecalho .menu #lista-menu li{
    margin: .5rem 0;
}

.cabecalho .menu #lista-menu li a{
    color: var(--cor-texto);
    transition: ease .3s all;
}

.cabecalho .menu #lista-menu li a:hover{
    color: #fff;
}

.cabecalho .menu .compras{
    position: relative;
    transition: .3s all;
}

.cabecalho .menu .compras:hover{
    transform: scale(1.1);
}

.cabecalho .menu #quantidade{
    background-color: #272626;
    color: #fff;
    padding:.2rem .5rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    top: 11%;
    right: 9%;
}

.fonte{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 26%;
    right: 2%;
    z-index: 2;
}

.fonte button{
    border: none;
    background-color: var(--cor-botao);
    padding: .5rem;
    border-radius: 1rem;
    transition: transform .3s;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}

.fonte button:hover{
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 2rem;
}

.container .imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .imagem img{
    width: 60%;
}

.sobre, .card, .contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--cor-fundo-caixa) no-repeat;
    border: var(--cor-borda) double .5rem;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
    -webkit-box-shadow: -1px 14px 13px 3px rgba(0,0,0,0.19);
    -moz-box-shadow: -1px 14px 13px 3px rgba(0,0,0,0.19);
    box-shadow: -1px 14px 13px 3px rgba(0,0,0,0.19);
}

.sobre>h2, .card>h2{
    text-shadow: -3px 1px 3px rgba(0, 0, 0, 0.322);
}

.card .saiba-mais{
    border: none;
    border-radius: .5rem;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
    animation: piscar 1s infinite;
    transition: transform .3s;
}

.card .saiba-mais:hover{
    transform: scale(1.1);
}

@keyframes piscar{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-top: 5rem;
    background-color: var(--cor-fundo-rodape);
}

.rodape h4{
    padding-top: 1rem;
}

.rodape .redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: .5rem;
}

.rodape .redes li{
    cursor: pointer;
    transition: transform .3s;
}

.rodape .redes li:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 1240px){
    .cabecalho .menu{
        display: flex;
        justify-content: center;
    }
    .cabecalho .menu #abrir-menu{
        display: none;
    }
    .cabecalho .menu #lista-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;
        background: none;
        border: none;
    }
    .cabecalho .menu #lista-menu li a:hover{
        color: #e26262;      
    }

    .container{
        width: 40%;
    }

    .container .imagem img{
        width: 300px;
    }

    
}
